@model Forum.ViewModels.IndexViewModel;
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    @foreach (var sect in Model.Sections)
    {

        <div class="container-fluid navbar-inverse col-sm-7">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Section", "Home", new { Name = sect.Name }, null)">@sect.Name</a>
            </div>
        </div>
        @if (sect.Topics.Count != 0)
        {
            @foreach (var topic in sect.Topics)
            {
                <div class="container-fluid col-sm-7">
                    <div class="navbar-header">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@topic.TopicName</a>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="container-fluid col-sm-7">
                <div class="navbar-header">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    Тем нет. Добавить тему</a>
                </div>
            </div>
        }
    }
    }
    @if (User.IsInRole("Admin"))
    {
        <div class="container-fluid navbar-inverse col-sm-7">
            <div class="navbar-header">
                <a class="navbar-brand" asp-area="" asp-controller="Section" asp-action="Create">
                    Создать Новый Раздел
                </a>
            </div>
        </div>
    }
</div>